<div class="p-8 mt-4" style="position: relative;">
  <div class="search-container" style="display: flex; align-items: center; justify-content: space-between;">

    <!-- Left side: Search Input and Button -->
    <div style="display: flex; align-items: center;">
      <input type="text" placeholder="Filter by name of product" #filter class="search-input" style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
      <button
        class="search-button"
        type="button"
        (click)="onSearch(filter.value)"
        style="background-color: #3f51b5; color: white; font-weight: bold; padding: 10px 20px; border: none; border-radius: 5px; margin-left: 10px;">
        Search
      </button>
    </div>

    <!-- Right side: Add Product Button -->
    <div style="position: absolute; top: 0; right: 0; padding: 10px;">
      <button
        mat-raised-button
        color="accent"
        routerLink="/add-product"
        style="background-color: #3f51b5; color: white; font-weight: bold; padding: 10px 20px; border-radius: 5px;">
        Add Product
      </button>
    </div>
  </div>
</div>


  <br><br>
  <div class="flex flex-wrap gap-3">
    @for (item of products; track $index) {
    <div class="w-4/12 pr-3 mb-3">
      <app-product-card [product]="item" (viewProduct)="onViewProduct($event)"></app-product-card>
    </div>
    }

  </div>

<router-outlet></router-outlet>




